<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.seckill.mapper.ShopOrderMapper">
  <resultMap id="BaseResultMap" type="com.sy.seckill.domain.ShopOrder">
    <!--@mbg.generated-->
    <!--@Table shop_order-->
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="goods_species" jdbcType="INTEGER" property="goodsSpecies" />
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
    <result column="paid_price" jdbcType="DECIMAL" property="paidPrice" />
    <result column="discount__price" jdbcType="DECIMAL" property="discountPrice" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="place_time" jdbcType="TIMESTAMP" property="placeTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_id, user_id, order_sn, goods_species, order_price, paid_price, discount__price, 
    `status`, place_time, pay_time, finish_time, remarks, created
  </sql>
</mapper>